.login {
  background-image: linear-gradient(
    to bottom right,
    rgb(246, 244, 246),
    rgb(229, 221, 232)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.heading {
  background: -webkit-linear-gradient(#eee, rgb(127, 95, 201));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.inputBox1 {
  margin-bottom: 20px;
}
.inputBox2 {
  margin-bottom: 20px;
}
.container {
  /* border: 1px solid;
  font-family: "Source Code Pro", monospace;
  font-size: 25px;
  background: -webkit-linear-gradient(#eee, rgb(127, 95, 201));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
